* {
  box-sizing: border-box;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
button:hover,
button:active,
button:focus,
input[type=submit],
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button],
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus {
  background: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: #c5e7ed;
  background: linear-gradient(to right, #c5e7ed, #66b2bf) fixed;
  color: #333;
  font: 14px "Fira Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 70px;
  position: relative;
}

h1 {
  color: #256874;
  font-family: Allan;
  letter-spacing: 4px;
  text-align: center;
}

.add-book,
.add-book:active,
.add-book:focus {
  background-color: #256874;
  border-radius: 3px;
  color: #fff;
  margin: 20px 0;
  padding: 10px;
}

.add-book:hover {
  background-color: #1f5761;
}

.no-books {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #256874;
  bottom: 0;
  color: #fff;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #c5e7ed;
}
