* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
button:hover,
button:active,
button:focus,
input[type=submit],
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button],
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus {
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type=checkbox] {
  cursor: pointer;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: #c5e7ed;
  background: linear-gradient(to right, #c5e7ed, #66b2bf) fixed;
  color: #333;
  font: 14px "Fira Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 2% 20px 70px;
  position: relative;
}

h1 {
  color: #256874;
  font-family: Allan;
  letter-spacing: 4px;
  text-align: center;
}

main {
  margin: auto;
  max-width: 1000px;
}

.add-book,
.add-book:active,
.add-book:focus {
  background-color: #256874;
  border-radius: 3px;
  color: #fff;
  margin: 20px 0;
  padding: 10px;
}

.add-book:hover {
  background-color: #1f5761;
}

#modal {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 0.3s ease-out;
  background-color: #fff;
  border-radius: 0;
  margin: 10% auto;
  max-width: 400px;
  width: 70%;
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}

.modal-header {
  background-color: #256874;
  color: #fff;
  padding: 10px;
}

.modal-header h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.modal-body .form-group,
.modal-body .button-group {
  margin: 10px;
  text-align: right;
}

.modal-body input[type=text] {
  border: 1px solid #256874;
  border-radius: 0;
  padding: 5px;
}

.modal-body #pages-input {
  max-width: 100px;
}

.modal-body .error-message {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 3px;
  color: #8a6d3b;
  display: none;
  line-height: 20px;
  margin: 10px 0;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
}

.modal-body input[type=submit],
.modal-body input[type=submit]:active,
.modal-body input[type=submit]:focus,
.modal-body input[type=button],
.modal-body input[type=button]:active,
.modal-body input[type=button]:focus {
  background-color: #256874;
  border-radius: 3px;
  color: #fff;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
}

.modal-body input[type=submit]:hover,
.modal-body input[type=button]:hover {
  background-color: #1f5761;
}

.no-books {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #256874;
  bottom: 0;
  color: #fff;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #c5e7ed;
}
