*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: #256874;
  background: linear-gradient(to right, #256874, #2b7a88) fixed;
}

button,
button:hover,
button:active,
button:focus,
input[type=submit],
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button],
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus {
  border-radius: 3px;
  padding: 10px;
}

h1 {
  color: #fff;
  font-family: Allan, "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 5px;
  padding-top: 4%;
  text-align: center;
}

main {
  margin: auto;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 70px;
}

.add-book,
.add-book:hover,
.add-book:active,
.add-book:focus {
  background: #94ebd8;
  color: #256874;
  margin: 20px 0;
}

#modal {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 0.3s ease-out;
  background: #fff;
  margin: 10% auto;
  max-width: 400px;
  width: 70%;
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}

.modal-header {
  background: #256874;
  padding: 10px;
}

.modal-header h2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}

.modal-body {
  padding: 10px;
}

.modal-body .form-group,
.modal-body .button-group {
  margin: 10px;
  text-align: right;
}

.modal-body input[type=text] {
  border: 1px solid #256874;
  padding: 5px;
}

.modal-body #pages-input {
  max-width: 100px;
}

.modal-body .error-message {
  background: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 3px;
  color: #8a6d3b;
  display: none;
  line-height: 20px;
  margin: 10px 0;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
}

.modal-body input[type=submit],
.modal-body input[type=submit]:hover,
.modal-body input[type=submit]:active,
.modal-body input[type=submit]:focus,
.modal-body input[type=button],
.modal-body input[type=button]:hover,
.modal-body input[type=button]:active,
.modal-body input[type=button]:focus {
  background: #256874;
  color: #94ebd8;
  margin-top: 10px;
  margin-left: 5px;
}

.main-card {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.book-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
}

.book-card:last-child {
  margin-bottom: 0;
}

.book-card .row:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-card h2 {
  color: #256874;
  font-size: 1rem;
  line-height: 24px;
  width: 85%;
}

.delete-book,
.delete-book:hover,
.delete-book:active,
.delete-book:focus {
  align-self: flex-start;
  background: #256874;
  color: #94ebd8;
}

.fa-trash-alt {
  pointer-events: none;
}

.book-card hr {
  border: 1px solid #94ebd8;
  margin: 8px 0;
}

.book-card .row:last-child .author,
.book-card .row:last-child .pages {
  margin: 10px 0;
}

.no-books {
  color: #fff;
  display: none;
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  color: #fff;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #94ebd8;
}
