// STYLES FOR PAGE'S MAIN CONTENT

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.reading-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media all and (min-width: 950px) {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
  
// Button styles
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: $teal;
  border: 0;
  border-radius: 3px;
  color: change-color($black, $lightness: 100%);
  cursor: pointer;
  letter-spacing: 1px;
  line-height: normal;
  padding: 5px 8px;
  width: auto;
  &:hover {
    background: change-color($teal, $lightness: 18%);
    text-decoration: none;
  }
}

// Sidebar styles
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  padding-bottom: 20px;
  width: 100%;
  @media all and (min-width: 950px) {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 0;
    width: 20%;
  }
  .button-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .add-book-button,
    .add-book-button:hover,
    .add-book-button:active,
    .add-book-button:focus {
      border-radius: 4px;
      padding: 15px;
    }
  }
  .reading-list-stats {
    background: change-color($black, $lightness: 34%);
    color: change-color($black, $lightness: 100%);
    margin-left: 15px;
    max-width: 185px;
    padding: 10px;
    width: 100%;
    @media all and (min-width: 950px) {
      margin-top: 15px;
      margin-left: 0;
    }
    .stat {
      font-size: 1.3rem;
      line-height: 1.4;
      .stat-label {
        color: change-color($teal, $lightness: 82%);
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }
}

// Reading list styles
.reading-list-content {
  max-width: 550px;
  width: 100%;
  @media all and (min-width: 950px) {
    width: 80%;
  }
  .book-card {
    background: change-color($black, $lightness: 100%);
    border: 1px solid change-color($black, $lightness: 34%);
    margin-bottom: 10px;
    padding: 10px;
    .row:first-child {
      border-bottom: 1px solid change-color($black, $lightness: 34%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 10px;
      .title {
        color: $teal;
        font-family: $title-font;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 2px;
        padding: 5px;
      }
      .delete-book-button,
      .delete-book-button:hover,
      .delete-book-button:active,
      .delete-book-button:focus {
        height: 30px;
        padding: 0;
        width: 30px;
        .delete-icon {
          pointer-events: none;
        }
      }
    }
    .row:last-child {
      padding-top: 10px;
      .book-info {
        padding-bottom: 10px;
      }
      .book-info-label,
      .check-label {
        color: change-color($black, $lightness: 34%);
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }
}